@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

.site-title{
    color: #f15a24;
    font-family: 'Zilla slab', serif;
}

.btn-geensnor{
    background-color:#f15b24;
    border: 0;
    color:white;
}

.btn-geensnor:hover {
    background-color:#ad451f;
    color:white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Zilla slab', serif;
    font-weight: 500;
}


 